language: node_js
sudo: required
before_script:
  - npm install -g polymer-cli
  - polymer install --variants
env:
  global:
    - secure: >-
        mE+VoHn/CEcMhTtOKUtE4xvs9KDWfFARTgAyGTsyWV/sx1kYuBA9nh7S+plYyIPgKYQ05tO8SVBQ8e0fwDMe6FahqUlk28VL2vfAwX/4pRfnFdcLuYGydCgbmxq8GFAdsPgepsEGMSe2JN982FtlxmJknU/DbTol7wvk+PXbFbs=
    - secure: >-
        eklVX5hYzqnn+pBHivbV92qrenLTRlYqgoq880jHd2+Y1G8OVVTDeR6HoBZ/MppMk5AvXZYRJZqy8Cxjjvk5MneTplWWw6ULEgAL7Qbz/8Z+ueV/53uISpy8IeFJZUydDHlFeka+bIEx09fIQQ5GJs+f0P3prT10Jup1DxBaSIk=
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
script:
  - xvfb-run polymer test
  - >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default';
    fi
dist: trusty
